body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact-container {
    background-color: #333333;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

header h1 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #ffffff;
}

header p {
    font-size: 14px;
    color: #666;
    line-height: 1.5;
}

header p a {
    color: #007bff;
    text-decoration: none;
}

header p a:hover {
    text-decoration: underline;
}

form {
    margin-top: 20px;
}

form label {
    font-size: 14px;
    color: #ffffff;
    display: block;
    margin-bottom: 5px;
}

form input[type="email"],
form input[type="text"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

form input[type="email"]::placeholder,
form input[type="text"]::placeholder,
form textarea::placeholder {
    color: #999;
}

form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

form button:hover {
    background-color: #0056b3;
}

footer {
   position: fixed;
    margin-top: 20px;
    text-align: center;
}

footer a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

footer a:hover {
    text-decoration: underline;
}
